body {
    font-family: serif;
    font-size: 14px;
    color: navy;
    background-color: #00000f;
}

p {
    color: aqua;
    text-transform: capitalize;
}

h1 {
    font-size: 2.5em;
    color: yellow;
    background-color: purple;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    background-color: #ccc;
    padding: 20px;
    margin: 40px;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 9px;
    border-color: red;
}

h3 {
    font-size: 1.5em;
    text-decoration: overline;
    text-decoration: line-through;
}

h4 {
    font-size: 1.5em;
    color: gray;
    letter-spacing: 1.5em;
    word-spacing: 1.5em;
    line-height: 1.5;
    text-align: center;
}

strong {
        color: blue;
}

a {
    font-size: 1.5em;
    color: red;
    background-color: #0f0000;
}
