body {
    font-family: helvetica, serif;
    font-size: 14px;
    color: navy;
}

p {
    color: green;
}

h1 {
    color: yellow;
    background-color: purple;
}

h2 {
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}

h3 {
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-trough;
}

